/* Main Section */
.main-section{
    width:80%;
    margin: 0 auto;
    display:flex;
}

/* Image Section */
.image-section{
    width: 50%;
    padding :2% ;
}
.cpu-image{
    width:100%;
}

/* Description Section */
.description-section{
    width:50%;
    padding:2%;
}
.buttons-header{
    padding:0 ;
    margin:0 ;
}
.buttons{
    border:1px solid black ;
    background-color:white ;
    color: gray ;
    border-radius:4px;
}
.buttons:hover{
    background-color:black;
    color:white;
}

.buttons:focus{
    border:4px solid gray;
}


.storage-section{
    margin-top : 7%;
}

.delivery-option-section{
    margin-top:7%;
}

.price-section{
    width:50%;
    margin-top:7%
}

.price-items{
    display:flex;
}

.item-name{
    width:70% ;
}

.price{
    width:30%;

}

.promo-input{
    margin-top:5px ;
}
#promo:focus{
    border:4px solid gray;
}
#promo-btn{
    background-color:rgba(247, 0, 0, 0.849);
    color:white;border-radius:4px;
    border:1px solid rgba(199, 192, 192, 0.651);
}

#promo-btn:focus{
    border:4px solid gray; 
    
}